a { color: black; text-decoration: none }
a:visited { color: black; }
a:hover { color: #510D00 }
em { font-style: italic; }

body {
  font-family: courier;
  line-height: 125%;
  text-align: center;
}

header {
  margin-top: 1em;
  margin-bottom: 1em;
}

header h3 a {
  font-size: 34px;
}

main {
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  width: 18em;
}

#cover {
  width: 288px;
  height: 223px;
  cursor: pointer;
  margin-bottom: 1em;
}

#footer, #info {
  margin: 2em 1em 1em 1em;
}

#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.9);
  background-image: url('doaa.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#player {
  border: 2px solid black;
  cursor: pointer;
  font-family: courier;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

#tracklist > li {
  cursor: pointer;
}

.hidden {
  display: none;
}

.playing {
  background: #510D00;
  color: rgba(255, 255, 255, 1);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heading {
  color: #FFFFFF;
  background-color: #510D00;
}
